<ion-header>
  <ion-toolbar>
    <ion-title>Tela de Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox></ion-checkbox>
      <ion-label>&nbsp; &nbsp;Manter Logado</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-button ion-item color="dark" fill="outline" shape="round" expand="full" size="medium">
        Entrar
      </ion-button>
      <ion-button ion-item color="dark" fill="outline" shape="round" expand="full" size="medium" routerLink="/cadastro">
        Cadastro
      </ion-button>
    </ion-item>
  </ion-card>

</ion-content>